.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 92px 50px;
    color: #000;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    list-style-type: circle;
}

.header__menu-list .header__menu-item_no-bullit {
    list-style-type: none;
}

.header__logo {
    position: relative;
    left: -75px;
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.address {
    justify-self: end;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    width: 240px;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    color: #FFF;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgb(0 0 0 / .6);
    background-size: auto;
}
.cover_title {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: flex;
    justify-content: flex-start;
    line-height: 115%;
}

.aligned-text_center {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    margin-right: 30px;
    line-height: 100%;
}

.aligned-text_right {
    display: flex;
    justify-content: flex-end;
    line-height: 100%;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 135px;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    font-family: Raleway, sans-serif;
    margin-left: 82px;
    border: 1px solid #FFF;
    padding: 12px 32px;
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

.lots {
    display: block;
    padding: 180px 50px;
}

.lots__heading {
    display: block;
    margin-left: 40px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 25px;
    margin: 30px 0;
    color: #FFF;
    flex-wrap: wrap;
}

.card {
    display: flex;
    min-width: 430px;
    min-height: 450px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    flex-grow: 1;
    flex-basis: 430px;
}

.card-link {
    text-decoration-line: none;
}

.card_type_film {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card_type_book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card_type_picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/card-lot-03.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card__title {
    position: relative;
    z-index: 1;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 22px;
    font-style: normal;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 1;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
}

.lots__look-more-link {
    display: block;
    margin-left: 40px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
    padding: 0 50px 180px 50px ;
    color: #000;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 95px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    margin: 100px 0;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0 50px 90px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    list-style-type: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 240px;
    list-style-type: none;
}